---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Sample Middleman Site</h1>
  <p class="doc">
    <%= link_to "Continuous Integration with Middleman and CircleCI", "http://codeshoppe.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
